*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color: gray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: black;
    border-radius: 10px;
    width: 20rem;
    height: 35rem;
    font-size: 1rem;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    font-weight: bolder;
    font-size: 2rem;
    height: 3rem;
    border-bottom: 2px solid orange;
}

.input label{
    
    font-size: 1rem;
    font-weight: bolder;
}

.input input{
    border: solid orange;
    border-radius: 5px;
    margin-left: 1rem;
    height: 2rem;
    width: 6rem;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

button{
    cursor: pointer;
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    background-color: orange;
    font-weight: bolder;
}

button:hover{
    box-shadow: 0px 0px 20px orange;
}

.result{
    background-color: gray;
    border-radius: 10px;
    color: whitesmoke;

    text-align: center;
    padding: 2rem;
    width: 80%;
    height: 10rem;

    user-select: none;
}